.card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    border: 55px solid #000;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #000;
    text-align: center; 
    padding: 95px; 
    margin: auto;
    margin-top: 100px;
  }

.card-content {
    display:flex;
    margin: 40 px;
}

.card-image {
    width:12em; 
    height:16em; 
    margin: 20px; 
}

.card-title {
    margin-bottom: 20px; 
    font-size: 35px;
}

.card-button {
    margin-right:5px;
    margin-bottom: 5px;
}

