.example-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }