<app-header></app-header>
<body style="margin-top: 40px; padding-bottom: 600px;background-color: #FAFAFA; ">
    <mat-card *ngIf="user" style="margin-bottom:25px; text-align: center; width:100%;">
        <mat-card-title>
            <img src="https://material.angular.io/assets/img/examples/shiba1.jpg">
            <mat-card-title>{{user.username}}</mat-card-title>
        </mat-card-title>
        <mat-card-content>
            {{user.first_name + " " + user.last_name}}<br/><br/>
            <div *ngIf="posts">
                {{posts.length + " " + "Posts"}}
            </div>
            <div style="margin-top: 15px;" *ngIf = "user && user.id != authService.getCurrentUser().id && !isFollowing"> 
                <button (click)="followUser()" mat-raised-button> Follow </button>
            </div>

            <div style="margin-top: 15px;" *ngIf = "user && user.id != authService.getCurrentUser().id && isFollowing"> 
                <button (click)="unfollowUser()" mat-raised-button> Following </button>
            </div>
        </mat-card-content>

    </mat-card>
    
    <div *ngIf="user && user.id == authService.getCurrentUser().id"style="text-align: center;">
        <button mat-raised-button (click)="openDialog()" style="margin-bottom:25px;margin-top:5px;" >
            <mat-icon matPrefix>add</mat-icon>
            Add Post
        </button>
    </div>
    <div style="padding-bottom: 30px; margin-top: 30px;">
        <app-post
            ng-show="posts.length > 0"
            *ngFor="let post of posts"
            [post]=post>
        </app-post>
    </div>
</body>