// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$my-theme-primary: mat-palette($mat-blue);
$my-theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn: mat-palette($mat-red);
$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Include theme styles for Angular Material components.
@include angular-material-theme($my-theme);

